* {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  overflow-x: hidden;
}

.slick-dots {
  text-align: center;
  bottom: -50px;
}

.slick-dots li button::before {
  font-size: 8px;
  color: #333; 
}

.slick-dots li.slick-active button::before {
  color: #006cb7; 
}

/* styles for contact form */
.main {
  position: relative;
  max-height: auto;
}

.input {
  width: 100%;
  border: none;
  border-bottom: solid gray 1px;
  background: transparent;
  outline: none;
  padding: 10px;
  transition: 0.2s;
  color: #000;
  font-size: 17px;
}

.input:focus,
.input:valid {
  border-color: #006cb7;
}

label span {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  pointer-events: none;
  font-size: 18px;
  color: #000;
  opacity: 0%;
}

.input:focus + label span,
.input:valid + label span {
  color: #006cb7;
  top: -29px;
  opacity: 100%;
}

.input:focus + label p,
.input:valid + label p {
  opacity: 0;
}

.slick-slide {
  padding: 0 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}

