@tailwind base;
@tailwind components;
@tailwind utilities;

.img-rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(369deg);
  }
}

/* .cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #ff7222;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #ff7222;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
} */

/* css for media icons */
/* From Uiverse.io by MijailVillegas */
.card {
  position: absolute;
  top: 260px;
  left: 20px;
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.card:hover {
  animation: ease-out 5s;
  /* background: rgba(173, 173, 173, 0.05); */
}

.card ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card ul li {
  cursor: pointer;
}

.svg {
  transition: all 0.3s;
  /* if you find some problems change w - h : 30px*/
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: #ff7222;
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: #ff7222;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
  transition: 0.5s;
}
.iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
  transform: translate(5px, -5px);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

/* styles for carousels */
.slick-dots {
  text-align: center; /* Align dots to the right */
}

.slick-dots li button::before {
  font-size: 8px; /* Increase dot size */
  color: #333; /* Darker color */
}

.slick-dots li.slick-active button::before {
  color: #ff7222; /* Make the active dot even darker */
}

/* styles for why choose cards */
.choose_card {
  cursor: pointer;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

/* From Uiverse.io by Centered101 */
.card_team {
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card_team .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card_team .mail svg {
  stroke: #767371;
  stroke-width: 3px;
}

.card_team .mail svg:hover {
  stroke: #000;
}

.card_team .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: 100%;
  top: -3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 1px solid #fff;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}
.card_team .profile-pic img {
  /* -o-object-fit: cover;
  object-fit: cover; */
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card_team .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card_team .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #767371;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  /* box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset; */
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card_team .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card_team .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.card_team .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1rem;
}

.card_team .bottom .bottom-bottom {
  position: absolute;
  bottom: 1.2rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_team .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card_team .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: #fff;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card_team .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #fff;
  transform: scale(1.2);
}

.card_team .bottom .bottom-bottom .button {
  background: white;
  color: #767371;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card_team .bottom .bottom-bottom .button:hover {
  background: #fff;
  color: #767371;
  /* box-shadow: 0 5px 5px #fff; */
}

.card_team:hover {
  border-top-left-radius: 55px;
}

.card_team:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card_team:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #767371;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card_team:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card_team:hover .profile-pic img {
  transition: all 0.5s ease-in-out 0.5s;
}

.card_team:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

/* styles for contact form */
.main {
  position: relative;
  max-height: 200px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: solid gray 1px;
  background: transparent;
  outline: none;
  padding: 10px;
  transition: 0.2s;
  color: #000;
  font-size: 17px;
}

.input:focus,
.input:valid {
  border-color: #ff7222;
}

label span {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  pointer-events: none;
  font-size: 18px;
  color: #000;
  opacity: 0%;
}

.input:focus + label span,
.input:valid + label span {
  color: #ff7222;
  top: -29px;
  opacity: 100%;
}

.input:focus + label p,
.input:valid + label p {
  opacity: 0;
}
